$color: #ffffff;
$image_uno:"../img/control-asistencia-1.png";
$image_dos:"../img/control-asistencia-2.png";
$image_tres:"../img/control-asistencia-3.png";
$image_cuatro:"../img/control-asistencia-4.png";
$image_cero:"../img/control-asistencia.png";
$image_logo:"../img/LOGO BLANCO.png";     
$color-body:#c7c7c7;
$color-header:#000000;
$color-sidebar:#808080;
$color-fonts-header:#ffffff;